<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
{% include 'header.html' %}
<div id="cart">
    <main>
        <div>
            {% for good in content_data %}
            <p>{{good.title}}</p>
            <p>{{good.price}} ₽</p>
            <p>{{good.count}}</p>
            <p>{{good.price}} * {{good.count}} ₽</p>
            {% endfor %}
        </div>
    </main>
</div>
{% include 'footer.html' %}
</body>
</html>
